{% load static %}

<div class="grid">
    <div class="grid__item pos-1"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/11.jpg' %})"></div></div>
    <div class="grid__item pos-2"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/2.jpg' %})"></div></div>
    <div class="grid__item pos-3"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/12.webp' %})"></div></div>
    <div class="grid__item pos-4"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/4.jpg' %})"></div></div>
    <div class="grid__item pos-5">
        <div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/5.jpg' %})"></div>
    </div>
    <div class="grid__item pos-6"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/13.webp' %})"></div></div>
    <div class="grid__item pos-7"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/7.jpg' %})"></div></div>
    <div class="grid__item pos-8"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/14.webp' %})"></div></div>
    <div class="grid__item pos-9"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/9.jpg' %})"></div></div>
    <div class="grid__item pos-10"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/15.webp' %})"></div></div>
</div>