{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/account_css/account.css' %}">
{% endblock css %}
{% block HTMX %}
    <!-- This page does not require HTMX -->
{% endblock HTMX %}

{% block title %}Sign in to Blogzz{% endblock title %}
{% block content %}
    <div class="content">
        <div class="left-side-div">
            <a href="{% url "welcome-page" %}" class="auth-close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="200" y1="56" x2="56" y2="200" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="200" y1="200" x2="56" y2="56" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>
            </a>
            <div class="left-side-div-inner">

                <div class="form-header">
                    <h1>Welcome back</h1>
                </div>
                <div class="form-main">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <a class="forgot-password" href="{% url 'account_reset_password' %}">Forgot password?</a>
                        <button type="submit" class="form-btn">Sign In</button>
                    </form>
                    
                    <p class="median-line">or</p>
                    <div class="form-socials">
                        <a href="{% provider_login_url 'google' %}" class="social-auth">
                            <img src="{% static 'images/icons/google-icon.png'%}" alt="Google logo">
                            Sign in with Google</a>
                        <a href="{% provider_login_url 'github' %}" class="social-auth">
                            <img src="{% static 'images/icons/github-icon.png'%}" alt="GitHub logo">
                            Sign in with Github</a>
                    </div>
                </div>
                
                <div class="form-footer">
                    <small>Dont have an account? <a href="{% url 'account_signup' %}">Sign Up</a></small>
                </div>
            </div>
        </div>

        <div class="right-side-div hidden">
            <div class="grid-header">
                <h2>Share your knowledge with others</h2>
            </div>
            <div class="grid">
                <div class="grid__item pos-1"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/1.jpg' %})"></div></div>
                <div class="grid__item pos-2"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/2.jpg' %})"></div></div>
                <div class="grid__item pos-3"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/3.jpg' %})"></div></div>
                <div class="grid__item pos-4"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/4.jpg' %})"></div></div>
                <div class="grid__item pos-5">
                    <div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/5.jpg' %})"></div>
                </div>
                <div class="grid__item pos-6"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/6.jpg' %})"></div></div>
                <div class="grid__item pos-7"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/7.jpg' %})"></div></div>
                <div class="grid__item pos-8"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/8.jpg' %})"></div></div>
                <div class="grid__item pos-9"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/9.jpg' %})"></div></div>
                <div class="grid__item pos-10"><div class="grid__item-img" style="background-image: url({% static 'images/account-imgs/10.jpg' %})"></div></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="{% static 'js/account_js/account.js' %}" type="module"></script>
{% endblock js %}