{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/account_css/account.css' %}">
{% endblock css %}
{% block title %}{% trans "Change password" %}{% endblock title %}

{% block content %}
    <div class="content">
        <div class="left-side-div">
            <div class="left-side-div-inner-secondary">
                <h1>{% trans "Changed Password" %}</h1>
                <p class="helper-paragraph">{% trans 'Your password is now changed.' %}</p>
                <a href="{% url 'account_login' %}" class="green-form-btn">Sign in</a>
            </div>
        </div>

        <div class="right-side-div hidden">
            <div class="grid-header">
                <h2 class="blue-header">Get back to us</h2>
            </div>
            {% include 'account/grid.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>   
    <script src="{% static 'js/account_js/account.js' %}" type="module"></script>
{% endblock js %}