{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/account_css/account.css' %}">
{% endblock css %}
{% block HTMX %}
    <!-- This page does not require HTMX -->
{% endblock HTMX %}
{% block title %}{% trans "Password reset" %}{% endblock title %}

{% block content %}

    <div class="content">
        <div class="left-side-div">
            <a href="{% url "welcome-page" %}" class="auth-close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="200" y1="56" x2="56" y2="200" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="200" y1="200" x2="56" y2="56" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>
            </a>
            <div class="left-side-div-inner-secondary">
                <h1>{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="helper-paragraph">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <div class="form-main">
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="form-btn">{% trans 'Reset My Password' %}</button>
                    </form>
                </div>

                <p class="helper-paragraph">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>

        <div class="right-side-div hidden">
            <div class="grid-header">
                <h2 class="blue-header">Get back to writing</h2>
            </div>
            {% include 'account/grid.html' %}
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="{% static 'js/account_js/account.js' %}" type="module"></script>
{% endblock js %}