{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/account_css/account.css' %}">
{% endblock css %}
{% block title %}{% trans "Change password" %}{% endblock title %}

{% block content %}


    <div class="content">
        <div class="left-side-div">
            <div class="left-side-div-inner-secondary">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p class="helper-paragraph">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="green-link" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    <div class="form-main"></div>
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" name="action" class="form-btn" value="{% trans 'change password' %}"/>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="right-side-div hidden">
            <div class="grid-header">
                <h2 class="blue-header">Get back to us</h2>
            </div>
            {% include 'account/grid.html' %}
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>   
    <script src="{% static 'js/account_js/account.js' %}" type="module"></script>
{% endblock js %}