* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f1f1f1;
    font-family: "Poppins", sans-serif;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

/* navbar styling */

nav {
    padding: 25px 8vw;
    background-color: #f1f1f1;
    top: 0;
    z-index: 1;
}

.lock-scroll {
    overflow-y: hidden;
    position: fixed;
}

.blogzz-logo {
    gap: 15px;
}

.blogzz-logo p {
    font-family: "Limelight", cursive;
    font-size: clamp(14px, 2.5vw, 25px);
}

.middle-links img {
    width: clamp(40px, 1.5vw, 100px);
}

.hamburger-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.hamburger-div:hover {
    cursor: pointer;
}

.middle-links {
    width: 100%;
}

.hamburger-line {
    display: block;
    width: 50px;
    height: 2px;
    background-color: black;
    transition: 0.2s width ease-in-out;
}

.shrink-second-line,
.shrink-fourth-line {
    width: 40px;
    transition: 0.25s width ease-in-out;
}

.shrink-third-line {
    width: 30px;
    transition: 0.2s width ease-in-out;
}

.burger-clicked {
    height: 100vh;
    width: 100vw;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15vh;
    background-color: #f1f1f1;
    transition: 0.5s color ease-in-out;
}

/* underline effect on navbar link hover */

.nav-link {
    position: relative;
    display: inline-block;
}

.nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.left-links,
.right-links {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.increase-font a {
    font-size: clamp(1.2rem, 2rem, 3rem);
}

.increase-font {
    gap: 5vh;
}

.middle-links {
    order: 1;
}

.left-links {
    order: 2;
}

.right-links {
    order: 3;
}

.black-btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    padding: clamp(0.4rem, 1vw, 0.6rem) clamp(1.3rem, 1vw, 1.9rem);
    font-size: clamp(1rem, 1.25vw, 3rem);
    font-weight: bold;
    transition: 0.2s background-color ease-in-out, 0.25s color ease-in-out;
}

.black-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* hero page styling */

main {
    width: 90%;
    margin: 0 auto;
}

.about-section,
.hero-right img,
.popular-topics-section,
.featured-blogs-section {
    width: 100%;
}

.hero-left,
.hero-right {
    width: 90%;
    margin: 0 auto;
}

.hero-left {
    text-align: center;
    margin-top: 5vh;
}

.hero-main-header {
    font-family: "Limelight", cursive;
    font-size: clamp(3rem, 5vw, 15rem);
    font-weight: normal;
    margin-bottom: 20px;
}

.hero-paragraph {
    font-size: clamp(1rem, 1.5vw, 5rem);
    color: #434343;
}

.hero-paragraph,
.hero-left div {
    margin-bottom: 30px;
}

/* About page styling */

.about-section {
    margin: 10vh 0 10vh 0;
}

.about-header h2,
.popular-topics-section h2,
.featured-blogs-section h2,
.contact-section-headers h2 {
    text-align: center;
    font-family: "Limelight", cursive;
    font-size: clamp(2rem, 3vw, 8rem);
    font-weight: normal;
}

.popular-topics-section h2 {
    font-size: clamp(1.8rem, 2.5vw, 6rem);
}

.about-header {
    color: black;
    padding: 15px 30px;
    text-align: right;
    margin: 10px auto 10vh auto;
    width: max-content;
}

.about-main {
    background-color: black;
    color: white;
    padding: clamp(20px, 1.5vw, 30px);
    border-radius: 20px;
}

.about-top {
    background-color: #f0f0f0;
    margin-bottom: 50px;
    border-radius: 15px;
    border: 1px solid black;
    padding: clamp(30px, 3vw, 50px);
    border: 1px solid white;
    color: black !important;
    transition: 0.25s background-color ease-in-out;
}

.about-top:hover {
    background-color: #a5c1f0;
}

.about-top-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-top-footer img {
    width: clamp(150px, 75%, 350px);
}

.about-bottom {
    border: 1px solid black;
    transition: 0.25s background-color ease-in-out;
}

.about-bottom:hover {
    background-color: #afd7b6;
}

.about-to-header {
    text-align: center !important;
    margin: 0 auto;
}

.about-top-header h3,
.about-bottom-header h3,
.contact-form h3,
.about-top-header p,
.about-bottom-header p,
.contact-section-headers p,
.contact-section-headers button {
    margin-bottom: 20px;
    font-size: clamp(1.3rem, 1.75vw, 5rem);
    text-align: center;
}

.contact-form h3 {
    font-family: "Limelight", cursive;
    margin-bottom: clamp(1.5rem, 2vw, 3.5vw);
}

.about-top-header p,
.about-bottom-header p {
    color: #434343;
    font-size: clamp(1rem, 1.15vw, 2.5rem);
}

.about-top-header a,
.about-bottom-header a,
.contact-section-headers button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: max-content;
    margin-bottom: 30px;
    text-align: center;
}

.blue-btn,
.green-btn {
    background-color: #f1f1f1;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    padding: clamp(0.4rem, 1vw, 0.5rem) clamp(1.3rem, 1vw, 1.9rem);
    font-size: clamp(1rem, 1.25vw, 3rem);
    font-weight: bold;
    transition: 0.2s background-color ease-in-out, 
    0.25s color ease-in-out;
    margin: 0 auto;
}

.blue-btn svg,
.green-btn svg,
.all-topics-btn svg {
    width: clamp(.9rem, 1.2vw, 3rem);
    height: clamp(.9rem, 1.2vw, 3rem)
}

.blue-btn path, .green-btn path {
    transition: 0.2s stroke ease-in-out
}

.blue-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.blue-btn:hover path {
    stroke: white;
}

.green-btn {
    font-size: clamp(0.8rem, 1.25vw, 3rem);
}

.green-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.green-btn:hover path {
    stroke: white;
}

.about-bottom {
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: clamp(30px, 3vw, 50px);
    color: black;
    text-align: center;
}

.abbout-bottom-header p {
    color: black;
}

.about-bottom-header,
.about-bottom-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-bottom-footer {
    gap: 20px;
}

.about-bottom-footer img {
    width: clamp(200px, 65%, 300px);
}

.about-bottom-footer img:nth-child(2) {
    display: block;
}

/* styling popular topics section */

.popular-topics-section {
    margin: clamp(75px, 10%, 200px) 0;
}

.blog-topics-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(0.6rem, 1vw, 2rem);
    margin: clamp(50px, 10%, 150px) 0;
}

.topic-container {
    border: 1px solid black;
    border-radius: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    padding: clamp(7px, 1vw, 15px);
    gap: 20px;
    transition: 0.25s background-color ease-in-out, 0.2s color ease-in-out;
}

.topic-color {
    width: clamp(20px, 2vw, 80px);
    height: clamp(20px, 2vw, 80px);
    border-radius: 50%;
}

.topic-name {
    padding-right: 10px;
    font-size: clamp(0.8rem, 1.25vw, 2rem);
}

.topic-container:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}

.all-topics-btn,
.contact-form button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    gap: 10px;
}

.all-topics-btn path {
    stroke: white;
    transition: stroke .25s ease-in-out
}

.all-topics-btn:hover path {
    stroke: black;
}

/* styling featured section */

.featured-blogs-section {
    margin: clamp(75px, 10%, 200px) 0;
    position: relative;
}

.featured-blogs-section h2 {
    text-align: left;
}

.featured-blogs-container {
    margin: 50px 0;
    -webkit-overflow-scrolling: touch;
}

.featured-blogs-container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    width: 100%;
    margin: clamp(50px, 5%, 100px) auto;
}

/* individual-blog styling */

.featured-blog {
    width: clamp(250px, 15vw, 600px);
    height: clamp(350px, 15vh, 700px);
    flex-grow: 1;
    flex-shrink: 0;
    transition: 0.5s transform ease-in-out 0.5ms;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
}

.featured-blog-img-container {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    border: 2px solid black;
    border-bottom: none;
}

.featured-blog-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.featured-blog-content-container {
    height: 35%;
    color: black;
    background-color: #f1f1f1;
    border-radius: 0 0 15px 15px;
    border: 2px solid black;
    padding: clamp(5px, 1vw, 10px) clamp(10px, 1vw, 20px) clamp(10px, 1vw, 20px)
        clamp(10px, 1vw, 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    transition: 0.25s background-color ease-in-out, 0.25s color ease-in-out;
}

.blog-header {
    font-size: clamp(0.9rem, 1vw, 2.3rem);
    margin-bottom: 5px;
}

.featured-blog-middle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.blog-author-name {
    font-size: clamp(0.6rem, 1vw, 1rem);
}

.follower-count {
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    color: #434343;
}

.blog-author-image {
    width: clamp(20px, 2vw, 75px);
}

.featured-blog-bottom,
.likes-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-blog-bottom {
    width: 100%;
}

.read-time {
    font-size: clamp(0.6rem, 1vw, 1rem);
}

.likes-div {
    gap: 10px;
    padding: 2.5px 7.5px;
    border: 1px solid black;
    border-radius: 7.5px;
    transition: 0.25s color ease-in-out, 0.25s background-color ease-in-out;
    position: relative;
}

.likes-count {
    font-size: clamp(0.9rem, 1vw, 1.2rem);
}

.ph-heart {
    width: clamp(1rem, 1vw, 2rem);
    height: clamp(1rem, 1vw, 1.5rem);
    transition: all 0.25s ease-in-out;
}

.featured-blog:hover .featured-blog-content-container {
    background-color: black;
    color: white;
}

.featured-blog:hover .follower-count {
    color: #838383;
}

.featured-blog:hover .likes-div {
    background-color: #f1f1f1;
    color: black;
}

.heart-active path {
    fill: #e755af;
}


/* slider styling */

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: clamp(1.5rem, 1vw, 4rem) auto;
}

.slider-number-indicators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: clamp(20px, 2vw, 50px);
    font-family: "Limelight", cursive;
    position: relative;
}

.indicator-middle-line {
    width: clamp(150px, 10vw, 300px);
    height: 2px;
    border-radius: 5px;
    background-color: black;
    background-image: linear-gradient(
        to right,
        #a5c1f0 12.5%,
        rgba(0, 0, 0, 0) 10%
    );
    transition: 0.5s background-image ease-in-out;
}

.slider-buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.slider-buttons svg {
    width: clamp(2.5rem, 3vw, 5rem);
    height: clamp(2.5rem, 3vw, 5rem);
}

.slider-buttons svg:hover {
    cursor: pointer;
}

.slider-number-indicators p {
    font-size: clamp(1rem, 2vw, 5rem);
    transition: 0.5s ease-in-out;
}

/* styling contact section */

.contact-section {
    margin: clamp(75px, 10%, 200px) 0;
}

.contact-section-container {
    border: 1px solid black;
    border-radius: 15px;
    padding: clamp(20px, 1.5vw, 30px);
}

.contact-section-headers p {
    font-size: clamp(1rem, 1.25vw, 3rem);
    color: #434343;
}

.contact-section-headers h2,
.contact-section-headers p,
.contact-section-headers button {
    width: 80%;
    margin: clamp(20px, 1vw, 50px) auto;
}

.contact-section-headers button {
    color: black;
    width: max-content;
    font-weight: bold;
    gap: 30px;
}

.contact-section-headers button {
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.contact-section-headers button svg,
.contact-form button svg {
    width: clamp(2rem, 2.25vw, 3rem);
    height: clamp(2rem, 2.25vw, 3rem);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    transition: 0.25s stroke ease-in-out, 0.3s background-color ease-in-out;
    color: black;
    border: 1px solid black;
}


.contact-section-headers button svg {
    background-color: #fbc5c4;
}

.contact-submit svg {
    padding: 10px !important;
}

.contact-form button {
    font-size: clamp(1rem, 1.2vw, 2rem) !important;
    font-weight: normal;
    gap: 30px;
}

.contact-section button:hover {
    background-color: black;
    color: white;
}
.contact-form button i {
    background-color: white;
}

.contact-section-headers button:hover {
    color: black;
    background-color: #f1f1f1;
    cursor: pointer;
}

.contact-section-headers button:hover svg path {
    stroke: black;
    cursor: pointer;
}

.contact-form {
    background-color: #fbc5c4;
    padding: clamp(20px, 1.5vw, 30px);
    border-radius: 15px;
}

.input-box {
    position: relative;
    width: clamp(200px, 100%, 600px);
    margin: 0 auto;
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: clamp(10px, 1vw, 30px);
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: clamp(0.8rem, 1vw, 1.6rem);
    background-color: #fbc5c4;
    margin: 0 0 30px 0;
    font-family: "Poppins", sans-serif;
}

textarea::-webkit-scrollbar {
    display: none;
}

.input-box input {
    height: 2.5rem;
}

.input-box textarea {
    height: clamp(150px, 20vh, 250px);
    resize: none;
    /* overflow: hidden; */
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: clamp(0.7rem, 0.7vw, 1.4rem);
    color: black;
    transition: 0.25s;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span,
.input-box textarea:valid ~ span,
.input-box textarea:focus ~ span {
    color: black;
    transform: translateX(clamp(10px, 1.25vw, 20px))
        translateY(clamp(-7px, -1vw, -15px));
    font-size: clamp(0.5rem, 0.5vw, 1rem);
    padding: 0 10px;
    background-color: #f1f1f1;
    border: 1px solid black;
    border-radius: 5px;
    letter-spacing: 0.2em;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .featured-blogs-container-inner {
        border-radius: 0px;
    }

    .featured-blog {
        width: 225px;
    }

    .featured-blog {
        width: clamp(225px, 15vw, 600px);
        height: clamp(325px, 15vh, 700px);
    }

    .featured-blog-content-container {
        padding-bottom: 20px;
    }

    .likes-count {
        font-size: .6rem
    }


    .ph-heart {
        width: 12px;
        height: 12px;
    }
}

@media only screen and (max-width: 321px) {
    .increase-font a {
        font-size: 20px;
    }

    /* .increase-font {
        gap: 15px;
    } */
}

@media only screen and (min-width: 767px) and (max-width: 1100px) {
    main {
        width: 80%;
    }

    .hero-left {
        text-align: center;
    }

    hero-main-header {
        font-size: clamp(3rem, 9vw, 10rem);
    }

    .hero-paragraph {
        font-size: clamp(1rem, 3vw, 5rem);
    }

    .nav-link,
    .black-btn {
        font-size: clamp(1rem, 3vw, 5rem);
    }

    .increase-font a {
        font-size: clamp(1.2rem, 3rem, 10rem);
    }

    .increase-font {
        gap: 50px;
    }

    .navbar {
        padding: 5vw 8vw 0 8vw;
    }

    .burger-clicked {
        gap: 20vh;
    }

    /* about page styling */

    .about-top-header h3,
    .about-top-header p,
    .blue-btn {
        text-align: left;
    }

    .blue-btn {
        margin: 20px 0;
    }

    .about-top-footer {
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .about-top-footer img {
        width: clamp(100px, 45%, 300px);
    }

    .about-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .about-bottom-header {
        align-items: flex-start;
        text-align: left;
        width: 50%;
    }

    .about-bottom-footer {
        align-items: flex-end;
    }

    .about-bottom-footer {
        justify-self: flex-end;
    }

    .green-btn {
        margin: 0 !important;
    }

    .about-bottom-header img {
        display: block;
        margin-top: 50px;
        width: clamp(50px, 30%, 150px);
    }

    .about-top-header h3,
    .about-top-header p {
        width: 70%;
    }

    .about-top-header a {
        margin-bottom: 75px;
    }

    .about-bottom-header h3,
    .about-bottom-header p {
        text-align: left;
        justify-content: flex-start;
    }

    /* contact section styling */
    .contact-form {
        width: 80%;
        margin: 50px auto;
    }
}

@media only screen and (min-width: 1101px) {
    main {
        width: 80%;
    }

    /* navbar styling */

    .hamburger-div {
        display: none;
    }

    .navbar {
        justify-content: space-between;
        padding: 2vw 10%;
        position: relative;
    }

    .left-links,
    .right-links {
        display: flex;
        flex-direction: row;
        font-size: clamp(12px, 1.25vw, 28px);
        gap: clamp(1.5rem, 4vw, 4rem) !important;
    }

    /* .left-links {
        order: 1;
    } */

    .middle-links {
        order: 1;
    }

    .left-links {
        order: 2;
    }

    .right-links {
        display: flex;
        justify-content: flex-end;
        gap: clamp(1.2rem, 4vw, 2.5rem) !important;
        order: 3;
        width: max-content;
    }

    .middle-links {
        justify-content: center;
        /* order: 2; */
        /* position: absolute;
        left: 50%;
        transform: translate(-50%); */
        width: max-content;
    }

    .middle-links p {
        font-size: clamp(0.8rem, 2vw, 3rem);
    }

    .middle-links img {
        width: clamp(50px, 1.5vw, 100px);
    }

    /* hero page styling */

    .hero-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 85vh;
        width: 100%;
        gap: 10%;
    }

    .hero-left {
        text-align: left;
        width: 50%;
        margin: 0;
    }

    .hero-right {
        width: 55%;
    }

    .circle-div {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: clamp(100px, 7vw, 500px);
        overflow: hidden;
    }

    .hero-arrow-svg {
        position: absolute;
        z-index: 1;
        top: 47.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12.5%;
    }

    .hero-circle-svg {
        width: 100%;
        animation-name: rotating-circle;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .circle-div:hover .hero-circle-svg {
        animation-play-state: paused;
    }

    @keyframes rotating-circle {
        from {
            transform: rotate(-360deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    /* about section styling */

    .about-main-container {
        height: clamp(60vh, 75vh, 1000px);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }

    .about-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .about-top,
    .about-bottom {
        width: 50%;
    }

    .about-top {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-top-footer {
        flex-direction: row;
        align-items: flex-end;
    }

    .about-bottom-footer {
        flex-direction: row;
        justify-content: center;
    }

    .about-bottom-footer div {
        display: flex;
    }

    .about-bottom-footer-bottom img:first-child {
        display: block;
    }

    .about-bottom-footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        height: 100%;
    }

    .about-bottom-footer img {
        width: clamp(100px, 45%, 500px);
    }

    .about-bottom-footer-bottom {
        width: 50%;
    }

    .about-bottom-footer-bottom img:first-child {
        width: 100%;
    }

    .about-top-footer img {
        width: clamp(100px, 45%, 600px);
    }

    .about-section {
        width: 100%;
        position: relative;
        left: 0;
        transform: none;
        margin: 10vh 0;
    }

    .about-bottom-footer img:nth-child(2) {
        display: none;
    }

    .about-bottom-footer-bottom img:nth-child(2) {
        display: block;
    }

    .featured-blogs-container-inner .featured-blog {
        width: 0;
        height: clamp(450px, 45vh, 700px);
        flex-basis: clamp(325px, 22.5%, 500px);
    }


    .indicator-middle-line {
        height: clamp(3px, 1vw, 5px);
        border-radius: 5px;
    }

    .blog-author-name {
        font-size: clamp(0.7rem, 0.9vw, 1.4rem);
    }

    .read-time {
        font-size: clamp(0.7rem, 0.9vw, 1.4rem);
    }

    .likes-count {
        font-size: clamp(0.8rem, 1vw, 1.5rem);
    }

    /* contact section styling */

    .contact-section-socials,
    .contact-section-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact-section-container-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        width: 50%;
        gap: clamp(100px, 5vh, 300px);
    }

    .contact-section-socials svg {
        /* font-size: clamp(1rem, 2vw, 3rem); */
        width: clamp(1.2rem, 2.5vw, 3.5rem);
        height: clamp(1.2rem, 2.5vw, 3.5rem);
        border-radius: 15px;
        border: 1px solid black;
        padding: 7.5px;
        transition: 0.2s background-color ease-in-out,
        0.2s color ease-in-out;
    }

    .contact-section-socials svg path {
        transition: 0.2s fill ease-in-out
    }

    .contact-section-socials {
        gap: 20px;
    }

    .contact-section-socials svg:hover,
    .contact-section-socials svg:hover path{
        background-color: black;
        cursor: pointer;
        fill: white;
    }

    .contact-section-headers h2,
    .contact-section-headers p,
    .contact-section-headers button {
        margin: 0 0 30px 0;
    }

    .contact-section-headers h2,
    .contact-section-headers p,
    .contact-section-headers button {
        text-align: left;
    }

    .contact-section-headers button {
        margin: 30px 0 !important;
    }

    .contact-section-container {
        padding: clamp(50px, 5vw, 150px);
    }

    .contact-form {
        position: relative;
        right: clamp(100px, 1.5vw, 200px);
        top: clamp(25px, 2vw, 50px);
        z-index: 5;
        background-color: #fbc5c4;
    }

    .contact-form form {
        background-color: #fbc5c4;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .contact-bg-1,
    .contact-bg-2 {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 15px;
        z-index: -2;
        border: 1px solid black;
    }

    .contact-bg-1 {
        left: 25px;
        top: -25px;
        background-color: #a5c1f0;
    }

    .contact-bg-2 {
        left: 50px;
        top: -50px;
        background-color: #afd7b6;
        z-index: -3;
    }

    .contact-form::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fbc5c4;
        top: 0;
        left: 0;
        border-radius: 15px;
        z-index: -1;
        border: 1px solid black;
    }

    .input-box input,
    .input-box textarea {
        font-size: clamp(0.8rem, 1vw, 1.4rem);
    }
}
