* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f1f1f1;
    font-family: "Poppins", sans-serif;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    padding: 25px 8vw;
    background-color: #f1f1f1;
    top: 0;
}

.blogzz-logo {
    gap: 15px;
}

.blogzz-logo p {
    font-family: "Limelight", cursive;
    font-size: clamp(14px, 2.5vw, 25px);
}

.middle-links img {
    width: clamp(40px, 1.5vw, 100px);
}

.hamburger-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.hamburger-div:hover {
    cursor: pointer;
}

.middle-links {
    width: 100%;
}

.hamburger-line {
    display: block;
    width: 50px;
    height: 2px;
    background-color: black;
    transition: 0.2s width ease-in-out;
}

.shrink-second-line,
.shrink-fourth-line {
    width: 40px;
    transition: 0.25s width ease-in-out;
}

.shrink-third-line {
    width: 30px;
    transition: 0.2s width ease-in-out;
}

.burger-clicked {
    height: 100vh;
    width: 100vw;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15vh;
}

/* underline effect on navbar link hover */

.nav-link {
    position: relative;
    display: inline-block;
}

.nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.left-links,
.right-links {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.middle-links {
    order: 1;
}

.left-links {
    order: 2;
}

.right-links {
    order: 3;
}

.black-btn {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: clamp(1rem, 1.25vw, 3rem);
    font-weight: bold;
    transition: 0.2s background-color ease-in-out, 0.25s color ease-in-out;
}

.black-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* hero page styling */

main {
    width: 90%;
    margin: 0 auto;
}

.about-section,
.hero-right img,
.popular-topics-section {
    width: 100%;
}

.hero-left, .hero-right {
    width: 90%;
    margin: 0 auto;
}



.hero-left {
    text-align: center;
    margin-top: 5vh;
}

h1 {
    font-family: "Limelight", cursive;
    font-size: clamp(3rem, 5vw, 15rem);
    font-weight: normal;
    margin-bottom: 20px;
}

.hero-left p {
    font-size: clamp(1rem, 1.5vw, 5rem);
    color: #434343;
}

.hero-left p,
.hero-left div {
    margin-bottom: 30px;
}

/* About page styling */

.about-section {
    margin: 10vh 0 10vh 0;
}

.about-header h2,
.popular-topics-section h2 {
    text-align: center;
    font-family: "Limelight", cursive;
    font-size: clamp(2rem, 3vw, 8rem);
    font-weight: normal;
}

.popular-topics-section h2 {
    font-size: clamp(1.8rem, 2.5vw, 6rem);
}

.about-header {
    color: black;
    padding: 15px 30px;
    text-align: right;
    margin: 10px auto 10vh auto;
    width: max-content;
}

.about-main{
    background-color: black;
    color: white;
    padding: clamp(20px, 1.5vw, 30px);
    border-radius: 20px;
}

.about-top {
    background-color: #f0f0f0;
    margin-bottom: 50px;
    border-radius: 15px;
    border: 1px solid black;
    padding: clamp(30px, 3vw, 50px);
    border: 1px solid white;
    color: black !important;
    transition: .25s background-color ease-in-out
}

.about-top:hover {
    background-color: #a5c1f0;
}

.about-top-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-top-footer img {
    width: clamp(150px, 75%, 350px);
}


.about-bottom {
    border: 1px solid black;
    transition: .25s background-color ease-in-out
}

.about-bottom:hover {
    background-color: #afd7b6;
}

.about-to-header {
    text-align: center !important;
    margin: 0 auto;
}

.about-top-header h3,
.about-bottom-header h3, 
.about-top-header p,
.about-bottom-header p {
    margin-bottom: 20px;
    font-size: clamp(1.3rem, 1.75vw, 5rem);
    text-align: center;
}

.about-top-header p, .about-bottom-header p {
    color: #434343;
    font-size: clamp(1rem, 1.15vw, 2.5rem);
}

.about-top-header a, .about-bottom-header a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: max-content;
    margin-bottom: 30px;
    text-align: center;
}

.blue-btn, .green-btn{
    background-color: #f1f1f1;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: clamp(1rem, 1.25vw, 3rem);
    font-weight: bold;
    transition: 0.2s background-color ease-in-out, 0.25s color ease-in-out;
    margin: 0 auto;
}

.blue-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.green-btn {
    font-size: clamp(.8rem, 1.25vw, 3rem);
}

.green-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.about-bottom {
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: clamp(30px, 3vw, 50px);
    color: black;
    text-align: center;
}

.abbout-bottom-header p {
    color: black;
}

.about-bottom-header, .about-bottom-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about-bottom-footer {
    gap: 20px;
}

.about-bottom-footer img {
    width: clamp(200px, 65%, 300px);
}

.about-bottom-footer img:nth-child(2) {
    display: block;
}

/* styling popular topics section */

.popular-topics-section {
    margin: 75px 0
}

.blog-topics-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(.6rem, 1vw, 2rem);
    margin: 50px 0;
}

.topic-container {
    border: 1px solid black;
    border-radius: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    padding: clamp(7px, 1vw, 15px);
    gap: 20px;
    transition: 
    .25s background-color ease-in-out,
    .20s color ease-in-out;
}

.topic-color {
    width: clamp(20px, 2vw, 80px);
    height: clamp(20px, 2vw, 80px);
    border-radius: 50%;
}

.topic-name {
    padding-right: 10px;
    font-size: clamp(.8rem, 1.25vw, 2rem)
}

.topic-container:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}

@media only screen and (min-width: 767px) and (max-width: 1100px) {
    main {
        width: 80%;
    }

    .hero-left {
        text-align: left;
    }

    h1 {
        font-size: clamp(3rem, 10vw, 10rem);
    }

    .hero-left p {
        font-size: clamp(1rem, 3vw, 5rem);
    }

    .nav-link,
    .black-btn {
        font-size: clamp(1rem, 3vw, 5rem);
    }

    .navbar {
        padding: 5vw 8vw 0 8vw;
        
    }

    .burger-clicked {
        gap: 20vh
    }

    /* about page styling */

    .about-top-header h3, .about-top-header p, .blue-btn {
        text-align: left;
    }

    .blue-btn {
        margin: 20px 0;
    }

    .about-top-footer {
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .about-top-footer img {
        width: clamp(100px, 45%, 300px);
    }

    .about-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .about-bottom-header {
        align-items: flex-start;
        text-align: left;
        width: 50%;
    }

    
    .about-bottom-footer {
        align-items: flex-end;
    }

    .about-bottom-footer {
        justify-self: flex-end;
    }

    .green-btn {
        margin: 0 !important;
    }

    .about-bottom-header img {
        display: block;
        margin-top: 50px;
        width: clamp(50px, 30%, 150px);
    }


    .about-top-header h3, .about-top-header p {
        width: 70%;
    }

    .about-top-header a {
        margin-bottom: 75px;
    }

    .about-bottom-header h3, 
    .about-bottom-header p{
        text-align: left;
        justify-content: flex-start;
    }

}

@media only screen and (min-width: 1101px) {

    main {
        width: 80%;
    } 

    /* navbar styling */

    .hamburger-div {
        display: none;
    }

    .navbar {
        justify-content: space-between;
        padding: 2vw 10%;
        position: relative;
    }

    .left-links,
    .right-links {
        display: flex;
        flex-direction: row;
        font-size: clamp(12px, 1.25vw, 20px);
    }

    .left-links {
        order: 1;
        gap: 30px;
    }

    .right-links {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        order: 3;
        width: 50%;
    }

    .middle-links {
        justify-content: center;
        order: 2;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: max-content;
    }

    .middle-links p {
        font-size: clamp(14px, 2.5vw, 25px);
    }

    .middle-links img {
        width: clamp(50px, 1.5vw, 100px);
    }

    .black-btn {
        padding: 7px 20px;
    }

    /* hero page styling */

    .hero-section {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85vh;
        width: 100%;
        gap: 10%;
    }

    .hero-left {
        text-align: left;
        width: 50%;
        margin: 0;
    }

    .hero-right {
        width: 55%;
    }

    .circle-div {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: clamp(100px, 7vw, 500px);
        overflow: hidden;
    }

    .hero-arrow-svg {
        position: absolute;
        z-index: 1;
        top: 47.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12.5%;
    }

    .circle-svg {
        width: 100%;
        animation-name: rotating-circle;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .circle-div:hover .circle-svg {
        animation-play-state: paused;
    }

    @keyframes rotating-circle {
        from {
            transform: rotate(-360deg);
        }
        to {
            transform: rotate(360deg);
        }
    }


    /* about section styling */

    .about-main-container {
        height: clamp(60vh, 75vh, 1000px);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }

    .about-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .about-top, .about-bottom {
        width: 50%;
    }

    .about-top {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-top-footer {
        flex-direction: row;
        align-items: flex-end;
    }

    .about-bottom-footer {
        flex-direction: row;
        justify-content: center;
    }

    .about-bottom-footer div {
        display: flex;

    }

    .about-bottom-footer-bottom img:first-child {
        display: block;
    }

    .about-bottom-footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        height: 100%;
    }


    .about-bottom-footer img{
        width: clamp(100px, 45%, 500px);
    }

    .about-bottom-footer-bottom {
        width: 50%;
    }

    .about-bottom-footer-bottom img:first-child{
        width: 100%;
    }

    .about-top-footer img {
        width: clamp(100px, 45%, 600px);
    }

    .about-section {
        width: 100%;
        position: relative;
        left: 0;
        transform: none;
        margin: 10vh 0;
    }

    .about-bottom-footer img:nth-child(2) {
        display: none;
    }

    .about-bottom-footer-bottom img:nth-child(2) {
        display: block;
    }

}
