{% extends 'base.html' %}

{% block title %}Blogzz | {{ blog.blog_title }}{% endblock title %}

{% block content %}
    <div>
        {% if blog.blog_thumbnail %}
            <img src="{{ blog.blog_thumbnail.url }}" alt="{{ blog.blog_title }}">
        {% endif %}
        <h2>{{ blog.blog_title }}</h2>
        <small>@{{ blog.author }} | {{ blog.blog_created|timesince }}</small>
        <p>{{ blog.blog_body }}</p>
        <p style="color: blue;">{{ blog.blog_status }}</p>
    </div>
{% endblock content %}