{% extends 'blogs/list_blog.html' %}

{% block title %}Update {{ blog.blog_title }}{% endblock title %}   

{% block content %}
    <h1>Update blog</h1>

    <!-- Form Errors -->
    {% if form.errors %}
        <ul class="errors">
            {% for error in form.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}
        {% if blog.blog_status == 'published' %}
            <input type="submit" value="Update" name="Update">
            <input type="submit" value="Move to drafts" name="Move to drafts">
        {% else %}
            <input type="submit" value="Publish" name="Publish">
            <input type="submit" value="Save as draft" name="Save as draft">
        {% endif%}
    </form>

    {{ form.media }}
{% endblock content %}