.blogs-container {
    width: 100%;
    padding: 0 10px;
    height: max-content;
    margin: clamp(75px, 11vh, 125px) auto 100px auto;
}

.masonry-blog-loader {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.masonry-blog-loader-infinite-scroll {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    bottom: 15%;
    left: 50%;
    position: fixed;
    transform: translate(-50%);
    z-index: 1;
}

.loader-circle,
.loader-circle-inf {
    background-color: black;
    width: clamp(10px, 1.5vw, 15px);
    height: clamp(10px, 1.5vw, 15px);
    border-radius: 50px;
}

.loader-circle-inf {
    width: clamp(10px, 1.25vw, 12.5px);
    height: clamp(10px, 1.25vw, 12.5px);
}

.loader-circle:nth-child(1),
.loader-circle:nth-child(3),
.loader-circle:nth-child(5),
.loader-circle-inf:nth-child(1),
.loader-circle-inf:nth-child(3),
.loader-circle-inf:nth-child(5) {
    animation: bounceOdd 0.5s infinite;
}

.loader-circle:nth-child(2),
.loader-circle:nth-child(4),
.loader-circle:nth-child(6),
.loader-circle-inf:nth-child(2),
.loader-circle-inf:nth-child(4),
.loader-circle-inf:nth-child(6) {
    animation: bounceEven 0.5s infinite;
}

@keyframes bounceOdd {
    0%,
    100% {
        transform: translateY(0);
        scale: 1.2;
    }
    50% {
        transform: translateY(clamp(10px, 1.5vw, 20px));
        scale: 1;
    }
}

@keyframes bounceEven {
    0%,
    100% {
        transform: translateY(clamp(10px, 1.5vw, 20px));
        scale: 1.2;
    }
    50% {
        transform: translateY(0px);
        scale: 1;
    }
}

.thumbnail_blog,
.blog {
    text-decoration: none;
    color: black;
    display: block;
    height: max-content;
    transition: 0.5s transform ease-in-out 0.5ms;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 15px;
    animation: fadeBlogIn 0.5s ease-in-out;
}

@keyframes fadeBlogIn {
    from {
        opacity: 0;
        scale: 0.9;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.skeleton-placeholder {
    animation: skeleton-placeholder 1s linear infinite alternate;
    border-radius: 50%;
}

@keyframes skeleton-placeholder {
    from {
        background-color: #e9e9e9;
    }
    to {
        background-color: #ababab;
    }
}

.blog .blog-content-container {
    border-radius: 15px;
}

.blog-img-container {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    border: 2px solid black;
    border-bottom: none;
}

.blog-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blog-content-container {
    height: max-content;
    color: black;
    background-color: #f1f1f1;
    border-radius: 0 0 20px 20px;
    border: 2px solid black;
    padding: clamp(5px, 1vw, 10px) clamp(10px, 1vw, 20px) clamp(10px, 1vw, 20px)
        clamp(10px, 1vw, 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    transition: 0.25s background-color ease-in-out, 0.25s color ease-in-out;
}

.blog-header {
    font-size: clamp(0.9rem, 1vw, 2.3rem);
    margin-bottom: 5px;
}

.blog-middle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.blog-author-image {
    width: clamp(20px, 2vw, 75px);
    height: clamp(20px, 2vw, 75px);
    border-radius: 50%;
    border: 1px solid #c8c8c8;
}

.blog-author-name {
    font-size: clamp(0.6rem, 1vw, 1rem);
}

.follower-count {
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    color: #434343;
}

.blog-bottom,
.likes-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-bottom {
    width: 100%;
    gap: clamp(15px, 7.5vw, 35px);
}

.read-time {
    font-size: clamp(12px, 1vw, 1rem);
}

.likes-form {
    gap: 10px;
    padding: 2.5px 7.5px;
    border: 1px solid black;
    border-radius: 7.5px;
    transition: 0.25s color ease-in-out, 0.25s background-color ease-in-out;
    position: relative;
}

.likes-count {
    font-size: clamp(12px, 1vw, 1.2rem);
}

.ph-heart {
    width: clamp(0.7rem, 1vw, 2rem);
    height: clamp(0.7rem, 1vw, 1.5rem);
    transition: all 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-button {
    width: max-content;
    height: max-content;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.likes-div:hover,
.likes-count:hover {
    cursor: default;
}

.like-button:hover {
    cursor: pointer;
    scale: 1.25;
}

.heart-active path {
    fill: #e755af;
}

@keyframes heartActiveAnimation {
    33.3% {
        transform: scale(0.5);
    }
    66.6% {
        transform: scale(1.5);
    }
    100% {
        transform: 1;
    }
}

.blog:hover .blog-content-container,
.thumbnail_blog:hover .blog-content-container {
    background-color: black !important;
    color: white;
}

.blog:hover .follower-count,
.thumbnail_blog:hover .follower-count {
    color: #838383;
}

.blog:hover .likes-form,
.thumbnail_blog:hover .likes-form {
    background-color: #f1f1f1;
    color: black;
}

.no-blogs-yet {
    font-family: "limelight", cursive;
    font-size: clamp(1.8rem, 2.5vw, 6rem);
    font-weight: normal;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 767px) and (max-width: 1100px) {
    .blog-img-container {
        height: 300px;
    }
}

@media only screen and (min-width: 1101px) {
    .blog-img-container {
        height: 325px;
    }
}

@media only screen and (min-width: 1921px) {
    .blogs-container {
        padding: 30px;
    }

    .blog,
    .thumbnail_blog {
        margin-bottom: 15px;
    }

    .blog-img-container {
        height: 450px;
    }
}
