* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    font-family: "Poppins", sans-serif;
}

.blogs-container {
    width: 100%;
    padding: 0 10px;
    height: max-content;
    margin: clamp(75px, 11vh, 125px) auto 100px auto;
}

.thumbnail_blog,
.blog {
    text-decoration: none;
    color: black;
    display: block;
    height: max-content;
    transition: 0.5s transform ease-in-out 0.5ms;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog .blog-content-container {
    border-radius: 15px;
}

.blog-img-container {
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    border: 2px solid black;
    border-bottom: none;
}

.blog-img-container img {
    width: 100%;
    height: 100% ;
    object-fit: cover;
    display: block;
}

.blog-content-container {
    height: max-content;
    color: black;
    background-color: #f1f1f1;
    border-radius: 0 0 15px 15px;
    border: 2px solid black;
    padding: clamp(5px, 1vw, 10px) clamp(10px, 1vw, 20px) clamp(10px, 1vw, 20px)
        clamp(10px, 1vw, 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    transition: 0.25s background-color ease-in-out, 0.25s color ease-in-out;
}

.blog-header {
    font-size: clamp(0.9rem, 1vw, 2.3rem);
    margin-bottom: 5px;
}

.blog-middle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.blog-author-image {
    width: clamp(20px, 2vw, 75px);
    border-radius: 50%;
}

.blog-author-name {
    font-size: clamp(0.6rem, 1vw, 1rem);
}

.follower-count {
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    color: #434343;
}

.blog-bottom,
.likes-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-bottom {
    width: 100%;
    gap: clamp(25px, 7.5vw, 50px);
}

.read-time {
    font-size: clamp(0.6rem, 1vw, 1rem);
}

.likes-form {
    gap: 10px;
    padding: 2.5px 7.5px;
    border: 1px solid black;
    border-radius: 7.5px;
    transition: 0.25s color ease-in-out, 0.25s background-color ease-in-out;
    position: relative;
}

.likes-count {
    font-size: clamp(0.7rem, 1vw, 1.2rem);
}

.ph-heart {
    width: clamp(0.7rem, 1vw, 2rem);
    height: clamp(0.7rem, 1vw, 1.5rem);
    transition: all 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-button {
    width: max-content;
    height: max-content;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
}

.likes-div:hover,
.likes-count:hover {
    cursor: default;
}

.like-button:hover {
    cursor: pointer;
    scale: 1.25;
}

.heart-active path {
    fill: #e755af;
}

.blog:hover .blog-content-container,
.thumbnail_blog:hover .blog-content-container {
    background-color: black !important;
    color: white;
}

.blog:hover .follower-count,
.thumbnail_blog:hover .follower-count {
    color: #838383;
}

.blog:hover .likes-form,
.thumbnail_blog:hover .likes-form {
    background-color: #f1f1f1;
    color: black;
}

.no-blogs-yet {
    font-family: "limelight", cursive;
    font-size: clamp(1.8rem, 2.5vw, 6rem);
    font-weight: normal;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: max-content;
    z-index: 10;
    background-color: white;
    padding: clamp(5px, 5vw, 15px) clamp(20px, 10vw, 35px);
    box-shadow: 0px 1px 5px #838383;
}

.floating-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.floating-board a,
.floating-board-search {
    display: flex;
}

footer a svg,
.floating-board-search svg {
    width: clamp(25px, 7.5vw, 30px);
    height: max-content;
    transition: scale 0.15s ease-in-out, stroke 0.15s ease-in-out;
}

footer img {
    transition: scale 0.15s ease-in-out;
}

footer svg path,
footer svg line,
footer svg circle,
footer svg polyline {
    stroke: #838383;
}

footer svg:hover,
footer img:hover {
    cursor: pointer;
    scale: 1.15;
}

footer svg:hover path,
footer svg:hover line,
footer svg:hover circle,
footer svg:hover polyline {
    stroke: black;
}

.homepage-nav-right {
    display: none;
}

.current-user-profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* homepage navbar styling on mobile devices */

nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: clamp(10px, 2vh, 20px) 20px;
    box-shadow: 0px 1px 5px #c3c3c3;
}

.homepage-nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.homepage-blogzz-logo,
.homepage-nav-right a {
    display: flex;
    height: max-content;
}

.homepage-blogzz-logo img {
    width: clamp(35px, 1.5vw, 75px);
}

.current-user-profile-picture {
    width: clamp(25px, 7.5vw, 30px);
}

.homepage-nav-create-btn,
.homepage-navbar-dropdown {
    display: none;
}

.homepage-nav-middle,
.homepage-nav-middle input {
    width: 100%;
    height: 100%;
    display: block;
}

.homepage-nav-middle form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(10px, 1vw, 20px);
    position: relative;
}

.homepage-nav-middle input {
    height: clamp(35px, 3.5vh, 50px);
    border-radius: 75px;
    outline: none;
    padding: 5px clamp(15px, 1.25vw, 25px);
    border: none;
    background-color: #e9e9e9;
    font-size: clamp(1rem, 0.9vw, 25px);
}

.reset-search {
    display: none;
}

.reset-search-active {
    display: block;
    background-color: white;
    color: #767676;
    border: none;
    outline: none;
    transition: color 0.25s ease-in-out;
    font-size: clamp(0.6rem, 0.8rem, 1rem);
    font-weight: bold;
    animation: slide-in 0.3s forwards;
}

.reset-search:hover {
    cursor: pointer;
    color: black;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
    width: 0;
    height: 0;
}

.clear-search {
    display: none;
}

.clear-search-active {
    display: flex;
    background-color: #e9e9e9;
    border: none;
    position: absolute;
    z-index: 3;
    right: 0;
    border-radius: 50%;
    animation: slide-in-x 0.3s forwards;
}

@keyframes slide-in-x {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-300%);
    }
}

.clear-search svg {
    width: clamp(20px, 2vw, 30px);
    height: max-content;
}

.clear-search svg circle,
.clear-search svg line {
    stroke: #838383;
}

.clear-search:hover svg circle,
.clear-search:hover svg line {
    stroke: #434343;
}

.clear-search:hover {
    cursor: pointer;
}

@media only screen and (max-width: 321px) {
    .homepage-nav-inner {
        gap: 10px;
    }

    .homepage-nav-middle input {
        height: 30px;
        font-size: 0.8rem;
    }

    .homepage-blogzz-logo img,
    .current-user-profile-picture {
        width: 25px;
    }

    footer {
        padding: 10px 20px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1100px) {
    footer {
        width: 350px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 50px;
        bottom: 25px;
        background-color: white;
    }
}

@media only screen and (min-width: 1101px) {
    footer {
        display: none;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    .homepage-nav-right,
    .homepage-nav-left,
    .homepage-nav-create-btn,
    .homepage-blogzz-logo,
    .homepage-navbar-dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .homepage-nav-right {
        gap: 15px;
    }

    .homepage-nav-create-btn,
    .homepage-blogzz-logo,
    .homepage-navbar-dropdown {
        gap: 0;
    }

    .homepage-blogzz-logo img {
        width: clamp(35px, 2.5vw, 75px);
    }

    .homepage-nav-left svg {
        width: clamp(25px, 2vw, 50px);
        height: max-content;
        transition: scale 0.15s ease-in-out, stroke 0.15s ease-in-out;
    }

    .homepage-nav-left svg:hover {
        cursor: pointer;
        scale: 1.15;
    }

    .homepage-nav-middle input {
        height: clamp(40px, 5vh, 75px);
        padding: 10px clamp(15px, 1.25vw, 25px);
        z-index: 2;
    }

    .homepage-nav-middle input:focus {
        background-color: #e9e9e9;
    }

    .reset-search {
        display: none;
    }

    .clear-search {
        right: clamp(10px, 1vw, 20px);
        animation: slide-in-x 0.3s forwards;
    }

    @keyframes slide-in-x {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    .desktop-current-user-profile-picture .current-user-profile-picture {
        width: clamp(20px, 2vw, 75px);
        display: flex;
    }

    .homepage-navbar-dropdown {
        transition: background-color 0.15s ease-in-out;
        border-radius: 50%;
    }

    .homepage-navbar-dropdown svg {
        width: clamp(20px, 1.5vw, 30px);
        height: max-content;
    }

    .homepage-navbar-dropdown svg polyline {
        stroke: black;
    }

    .homepage-navbar-dropdown:hover {
        cursor: pointer;
        background-color: #f1f1f1;
    }
}

@media only screen and (min-width: 1921px) {
    .blogs-container {
        padding: 30px;
    }

    nav {
        padding: 20px 50px;
    }

    .blog,
    .thumbnail_blog {
        margin-bottom: 15px;
    }
}
