@font-face {
    font-family: "Limelight";
    src: url("/static/fonts/Limelight-Regular.woff2") format("woff2");
}

.create-update-page-main {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    animation: fadeCreateUpdatePageIn 0.5s forwards;
}

@keyframes fadeCreateUpdatePageIn {
    from {
        scale: 0.5;
        opacity: 0.1;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

.create-update-page-main form p label:nth-child(1),
.create-update-page-main form p label:nth-child(2) {
    display: none;
}

.create-update-page-main form p:nth-child(7) label {
    display: block !important;
}

.create-update-page-main form {
    padding: clamp(15px, 2vw, 30px);
}

.create-update-page-main form input {
    width: 100%;
    padding: clamp(5px, 2vw, 15px) clamp(10px, 1.5vw, 15vw);
    margin: 10px 0;
    background-color: #f1f1f1;
    font-size: clamp(12px, 1rem, 1.3rem);
    border: 1px solid #c9c9c9;
    outline: none;
    border-radius: 15px;
}

#id_blog_thumbnail {
    border: none !important;
    padding: 0 0 0 0;
}

.create-update-page-main form p:nth-child(7) {
    width: 100%;
    display: flex;
    align-items: center;
}
.create-update-page-main form p:nth-child(7) label {
    display: inline-block !important;
    margin: 10px 0;
    font-size: clamp(12px, 1rem, 1.3rem);
}

::-webkit-file-upload-button {
    border: 1px solid #c9c9c9;
    border-radius: 30px;
    padding: clamp(5px, 2vw, 10px) clamp(5px, 2.5vw, 15vw) !important;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out,
        border 0.25s ease-in-out;
}

::-webkit-file-upload-button:hover {
    cursor: pointer;
    color: black;
    background-color: #a5c1f0;
    border: 1px solid black;
}

.create-update-page-btn1,
.create-update-page-btn2 {
    width: max-content !important;
    background-color: #afd7b6 !important;
    color: black;
    border: 1px solid black !important;
    border-radius: 30px;
    padding: clamp(5px, 2vw, 10px) clamp(10px, 3vw, 15vw) !important;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.create-update-page-btn2 {
    background-color: #f1f1f1 !important;
    color: black;
}

.create-update-page-btn1:hover {
    cursor: pointer;
    background-color: black !important;
    color: #f1f1f1;
}

.create-update-page-btn2:hover {
    cursor: pointer;
    background-color: #fbc5c4 !important;
    color: black;
}

.ql-editor {
    min-height: 300px;
    border-radius: 15px;
    font-size: clamp(12px, 1rem, 1.3rem);
}

.ql-editor img {
    max-width: 400px;
    max-height: 500px;
}

.ql-toolbar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ql-toolbar span {
    font-size: clamp(12px, 1rem, 1.3rem);
}

.create-update-form-container {
    width: 90%;
    border: 1px solid black;
    border-radius: 30px;
    margin: 20% 0;
}

.create-update-form-container-top {
    border-bottom: 2px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 15px clamp(15px, 2vw, 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.create-update-form-container h1 {
    font-size: clamp(14px, 1rem, 22px);
    font-family: "Limelight", cursive;
}

.create-update-page-decorative-circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: max-content;
}

.create-update-page-decorative-circle1,
.create-update-page-decorative-circle2,
.create-update-page-decorative-circle3 {
    width: clamp(20px, 4vw, 30px);
    height: clamp(20px, 4vw, 30px);
    border-radius: 50%;
    border: 1px solid black;
}

.create-update-page-decorative-circle1 {
    background-color: #afd7b6;
}

.create-update-page-decorative-circle2 {
    background-color: #a5c1f0;
}

.create-update-page-decorative-circle3 {
    background-color: #fbc5c4;
}

@media only screen and (min-width: 767px) and (max-width: 1100px) {
    .create-update-form-container {
        margin: 15% 0;
    }
}

@media only screen and (min-width: 1101px) {
    .create-update-form-container {
        margin: 7.5% 0 ;
        width: 70%;
        max-width: 1700px;
    }

    .create-update-page-main form input {
        font-size: clamp(14px, 1rem, 1.5rem);
        padding: 15px 15px;
    }

    .create-update-page-main form p:nth-child(7) label {
        font-size: clamp(14px, 1rem, 1.5rem);
    }

    .ql-editor,
    .create-update-form-container h1 {
        font-size: clamp(14px, 1rem, 1.5rem);
    }
}

@media only screen and (min-width: 1921px) {
    .create-update-form-container {
        margin: 7.5% 0 ;
        width: 70%;
        max-width: 1700px;
    }
    
    .ql-editor {
        min-height: 400px;
        max-height: 700px;
    }

    .create-update-page-btn1,
    .create-update-page-btn2 {
        padding: 10px 20px !important;
    }

    ::-webkit-file-upload-button {
        padding: 10px 20px !important;
    }
}

@media only screen and (min-width: 2560px) {
    .create-update-form-container {
        margin: 7.5% 0 ;
        width: 80%;
        max-width: 3000px;
    }


    .ql-editor {
        min-height: 700px;
    }

    .create-update-page-main form input {
        font-size: clamp(18px, 1.6rem, 1.8rem);
        padding: 15px 15px;
    }

    .create-update-page-main form p:nth-child(7) label {
        font-size: clamp(18px, 1.6rem, 1.8rem);
    }

    .ql-editor,
    .create-update-form-container h1 {
        font-size: clamp(18px, 1.6rem, 1.8rem);
    }
}
