{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    <!-- HTMX -->
    {% block HTMX %}
        <script src="https://unpkg.com/htmx.org@1.8.6" integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx" crossorigin="anonymous"></script>
    {% endblock HTMX %}

    <!-- Preloading Font -->
    {% block PreloadFont %}
        <link rel="preload" as="font" href="{% static 'fonts/Limelight-Regular.woff2' %}" crossorigin="anonymous">
    {% endblock PreloadFont %}

    <!-- CSS -->
    {% block css %}
    {% endblock css%}   
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block content %} {% endblock content%}
    
    <!-- JavaScript -->
    {% block js %}
    {% endblock js %}

</body>
</html>