{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<header>
    <nav class="navbar flex">
        <div class="left-links hidden">
            <a href="#about" class="nav-link nav-link-primary">About</a>
            <a href="#" class="nav-link nav-link-primary">Featured</a>
            <a href="#" class="nav-link nav-link-primary">Contact</a>
        </div>
        <div class="middle-links flex">
            <div>
                <a href="/" class="blogzz-logo flex">
                    <img
                        src="{% static 'images/blogzz-logo.svg' %}"
                        alt="Blogzz logo"
                    />
                    <p>Blogzz</p>
                </a>
            </div>
            <div class="hamburger-div">
                <span class="hamburger-1 hamburger-line"></span>
                <span class="hamburger-2 hamburger-line"></span>
                <span class="hamburger-3 hamburger-line"></span>
                <span class="hamburger-4 hamburger-line"></span>
                <span class="hamburger-5 hamburger-line"></span>
            </div>
        </div>

        <div class="right-links hidden">
            <a href="{% url 'account_login' %}" class="nav-link">Sign In</a>
            <a href="{% url 'account_signup' %}" class="black-btn"
                >Get Started</a
            >
        </div>
    </nav>
</header>

<main>
    <section class="hero-section">
        <div class="hero-left">
            <h1>Stay curious and enjoy writing</h1>
            <p>
                Discover stories, thinking and expertise from writers on any
                topic
            </p>
            <div>
                <a href="{% url 'account_signup' %}" class="black-btn">Start Creating</a>
            </div>
        </div>
        <div class="hero-right">
            <img src="{% static 'images/hero-page-cards.png' %}" />
        </div>

        <div class="circle-div hidden">
            <img src="{% static 'images/hero-arrow.svg' %}" class="hero-arrow-svg">
            <img src="{% static 'images/circle.svg' %}" class="circle-svg">
        </div>
    </section>

    <section class="about-section" id="about">
        
        <div class="about-header">
            <h2>About Blogzz</h2>
        </div>
        <div class="about-main">
            <div class="about-main-container">
                <div class="about-top">
                    <div class="about-top-header">
                        <h3>Read, write and share</h3>
                        <p>Blogzz gives you an ability to read, write and share interesting ideas with others, Start expressing your thoughts and share them with other creators across the globe</p>
                        <a href="{% url 'account_signup' %}" class="blue-btn">
                            Get started <i class="ph-arrow-up-right-bold"></i>
                        </a>
                    </div>
                    <div class="about-top-footer">
                        <img src="{% static 'images/about-img1.png' %}">
                        <img src="{% static 'images/about-img2.png' %}">
                    </div>
                </div>
                
                <div class="about-bottom">
                    <div class="about-bottom-header">
                        <h3>Get to know other creators</h3>
                        <p>Read, share, comment and like other creators works that you find interesting, captivating and unique</p>
                        <a href="{% url 'account_signup' %}" class="green-btn">
                            Become creator <i class="ph-arrow-up-right-bold"></i>
                        </a>
                        <img src="{% static 'images/about-img5.svg' %}" class="hidden">
                    </div>
                    
                    <div class="about-bottom-footer">
                        <img src="{% static 'images/about-img3.png' %}">
                        <img src="{% static 'images/about-img4.png' %}" class="stats-img hidden">
                        <div class="about-bottom-footer-bottom hidden">
                            <img src="{% static 'images/about-img4.png' %}">
                            <img src="{% static 'images/about-img5.svg' %}" class="decorative-star-img hidden">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="popular-topics-section">
        <h2>Popular Topics</h2>
        <div class="blog-topics-container"></div>
        <a href="#" class="black-btn all-topics">
            All Topics <i class="ph-arrow-up-right-bold"></i>
        </a>
    </section>
</main>
{% endblock content %}
