{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header>
        <nav class="navbar flex">
            <div class="left-links hidden">
                <a href="#" class="nav-link">About</a>
                <a href="#" class="nav-link">Featured</a>
                <a href="#" class="nav-link">Contact</a>
            </div>
            <div class="middle-links flex">
                <div>
                    <a href="/" class="blogzz-logo flex">
                        <img src="{% static 'images/blogzz-logo.svg' %}" alt="Blogzz logo">
                        <p>Blogzz</p>
                    </a>
                </div>
                <div class="hamburger-div">
                    <span class="hamburger-1 hamburger-line"></span>
                    <span class="hamburger-2 hamburger-line"></span>
                    <span class="hamburger-3 hamburger-line"></span>
                    <span class="hamburger-4 hamburger-line"></span>
                    <span class="hamburger-5 hamburger-line"></span>
                </div>
            </div>

            <div class="right-links hidden">
                <a href="{% url 'account_login' %}" class="nav-link">Sign In</a>
                <a href="{% url 'account_signup' %}" class="black-btn">Get Started</a>
            </div>

        </nav>
    </header>
{% endblock content %}