<div 
    class="reply" 
    {% if comment.is_parent %} 
        style="margin: 20px 0 0 0;" 
    {% else %} 
        style="margin: 20px 0 0 10px;"
    {% endif %}>
    
    {% include 'comments/individual_comment.html' %}

    {% if comment.comment_depth <= depth %}
        {% for comment in comment.replies.all %}
            {% include "comments/comment_recursive.html" with comment=comment %}
        {% endfor %}
    {% elif comment.comment_depth > depth and comment.replies.count >= 1 %}
        <a href="{% url 'continue_thread' blog.id comment.id %}">Continue Thread</a>
    {% endif %}
</div>