<div class="comment-form-container">
    <form
        class="comment-form"
        method="POST"
        hx-post="{% url 'create_comment' blog.id %}"
        hx-target="#comments"
        hx-swap="innerHTML"
        {% if request.GET.sort %}
            hx-push-url="{% url 'blog_detail' blog.id %}?sort={{ request.GET.sort }}"
        {% else %}
            hx-push-url="{% url 'blog_detail' blog.id %}"
        {% endif %}
        
    >
        {% csrf_token %} {{ create_page_form.as_p }}
        <button
            type="submit"
            name="comment-submit-btn"
            class="comment-submit-btn"
        >
            Comment
        </button>
        {% if request.GET.sort %}
            <input type="hidden" name="sort" value="{{ request.GET.sort }}">
        {% endif %}
    </form>

    {% include "comments/partials/create_comment_suggestions.html" %}
</div>
