<!-- 
    Regarding the if statement in form tag: 
        If the user is on continue_thread page we check if the continue_thread_comment has only one reply with or without the replies and if the comment 
        that has to be deleted is that exact reply than we should redirect user to "blog_detail" page, so because of this we are using the hx-push-url 
        to change the url from "continue_thread" to "blog_detail".
-->

<form
    id="comment-delete-form"
    class="comment-delete-form prevent-propagation-for-comment-deletion"
    method="POST"
    hx-post="{% url 'delete_comment' comment.id %}"
    hx-target="#comment-list"
    hx-swap="innerHTML"
    hx-trigger="submit"
    {% if continue_thread_comment.replies.count == 1 and comment_to_be_deleted == continue_thread_comment.replies.first %}
        hx-push-url="{% url 'blog_detail' blog.id %}"
    {% elif not continue_thread_url %}
        hx-push-url="{% url 'blog_detail' blog.id %}"
    {% endif %}
>
    {% csrf_token %}
    <p>Are you sure you want to delete <span>"{{ comment }}..."?</span></p>
    <div class="comment-delete-btns">
        <button
            type="submit"
            class="comment-delete-btn form-comment-delete-btn prevent-propagation-for-comment-deletion"
        >
            Delete
        </button>

        <!-- For canceling the deletion of comment -->
        <button
            type="reset"
            hx-get="{% url 'blog_detail' blog.id %}"
            hx-target="#comment-delete-form"
            hx-swap="delete"
            name="comment-delete-cancel-btn"
            class="comment-delete-cancel-btn prevent-propagation-for-comment-deletion"
            value="Canceled deletion"
        >
            Cancel
        </button>

        <!-- This input will only be present if users try to delete comments from continue_thread page -->
        {% if continue_thread_url %}
            <input type="hidden" name="next" value="{{ continue_thread_url }}">
        {% endif %}
    </div>
</form>