{% load comment_extras %}
<div id="comment-div-{{ comment.id }}">
    <div class="comment-header">
        <div class="user-info">
            <img
                class="comment-author-image skeleton-placeholder"
                src="{{ comment.comment_author.get_profile_picture }}"
                loading="lazy"
                alt="{{ comment.comment_author }}'s profile picture"
            />
            {% if comment.comment_author == blog.author%}
                <span class="original-poster-span">OP</span>
            {% endif %}
            <p>{{ comment.comment_author }}<span class="comment-publish-time"> &bull; {{ comment.comment_created|custom_timesince }}</span></p>
            <svg class="comment-shrink-btn" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#000000" viewBox="0 0 256 256"><path d="M216,48V96a8,8,0,0,1-16,0V67.31l-50.34,50.35a8,8,0,0,1-11.32-11.32L188.69,56H160a8,8,0,0,1,0-16h48A8,8,0,0,1,216,48ZM106.34,138.34,56,188.69V160a8,8,0,0,0-16,0v48a8,8,0,0,0,8,8H96a8,8,0,0,0,0-16H67.31l50.35-50.34a8,8,0,0,0-11.32-11.32Z"></path></svg>
        </div>

        <!-- Edit and delete buttons that will be seen only by the comment authors.-->
        <div class="comment-options-div prevent-propagation">
            {% if request.user == comment.comment_author %}
                <svg class="comment-options-div-trigger {{ comment.id }} trigger-{{ comment.id }} prevent-propagation" xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 256 256"><path class="prevent-propagation" d="M156,128a28,28,0,1,1-28-28A28,28,0,0,1,156,128ZM128,76a28,28,0,1,0-28-28A28,28,0,0,0,128,76Zm0,104a28,28,0,1,0,28,28A28,28,0,0,0,128,180Z"></path></svg>
                <div class="comment-options-div-buttons options-div-id-{{ comment.id }} prevent-propagation">
                    <button 
                        class="edit-comment-btn prevent-propagation"
                        {% if request.GET.sort %}
                            hx-get="{% url 'update_comment' comment.id %}?sort={{ request.GET.sort }}"
                        {% else %}
                            hx-get="{% url 'update_comment' comment.id %}"
                        {% endif %}
                        hx-target="#comment-div-{{ comment.id }}"
                        hx-swap="innerHTML"
                        {% if "continue_thread" in request.path %}
                            hx-include="[comment-data='next-{{ comment.id }}']"
                        {% endif %}
                    >
                        Edit
                    </button> 
                    
                    <!-- 
                        In hx-include we are passing name parameter, which will be used in view to know where we should redirect users after they successfully delete the comment 
                        name parameter can either be a full url path or a None, in case it is none we will redirect users to blog detail view.
                    -->
                    <button 
                        class="delete-comment-btn prevent-propagation"
                        {% if request.GET.sort %}
                            hx-get="{% url 'delete_comment' comment.id %}?sort={{ request.GET.sort }}"
                        {% else %}
                            hx-get="{% url 'delete_comment' comment.id %}"
                        {% endif %}
                        hx-target="#comment-delete-modal-div"
                        hx-swap="afterbegin"
                        {% if "continue_thread" in request.path %}
                            hx-include="[comment-data='next-{{ comment.id }}']"
                        {% endif %}
                    >
                        Delete
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="comment-main">
        <!-- Body of the comment -->
        {% if comment.comment_body|wordcount > 300 %}
            <div class="comment-content">
                <div class="short-content">
                    <p id="comment-{{ comment.id }}" class="comment-{{ comment.id }} comment-body">
                        {{ comment.comment_body|truncatewords_html:250 }}
                        <span class="show-more">
                            <button class="show-more-btn show-content-btn">Show More</button>
                        </span>
                    </p>
                </div>
                <div class="full-content" style="display: none;">
                    <p id="comment-{{ comment.id }}" class="comment-{{ comment.id }} comment-body">
                        {{ comment.comment_body }}
                        <span class="show-less">
                            <button class="show-less-btn show-content-btn">Show less</button>
                        </span>
                    </p>
                </div>
            </div>
        {% else %}
            <p id="comment-{{ comment.id }}" class="comment-{{ comment.id }} comment-body">
                {{ comment.comment_body }}
            </p>
        {% endif %}
    </div>
    <div class="comment-footer">
        {% include "comments/upvote_downvote_comment.html" %}

        <!-- 
            I included an if statement that checks if request.GET.sort is None or not because when the user clicks this button
            it should also contain a sort query parameter if it was applied before, and if I don't 
            use this if statement, then the GET request will be sent to 'create_reply' without previously
            applied query param and I won't be able to return sorted comments from the get_success_url method of
            CreateCommentView view. Same logic will be used above for Edit and Delete buttons.
        -->
        <button 
            class="comment-reply-btn"
            {% if request.GET.sort %}
                hx-get="{% url 'create_reply' comment.id %}?sort={{ request.GET.sort }}"
            {% else %}
                hx-get="{% url 'create_reply' comment.id %}"
            {% endif %}
            hx-target="#reply-form-container-{{ comment.id }}"
            hx-swap="innerHTML"
            {% if "continue_thread" in request.path %}
            hx-include="[comment-data='next-{{ comment.id }}']"
            {% endif %}
            >
            <svg class="reply-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M71.58,144,32,176V48a8,8,0,0,1,8-8H168a8,8,0,0,1,8,8v88a8,8,0,0,1-8,8Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M80,144v40a8,8,0,0,0,8,8h96.42L224,224V96a8,8,0,0,0-8-8H176" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
            Reply
        </button> 
        
    </div>
    <div id="reply-form-container-{{ comment.id }}"></div>
    <!-- 
        Including the form for updating/deleting the individual comment, this will 
        be used if the users manually enters the url for updating/deleting the comment.
    -->
    {% if comment == comment_to_be_updated %}
        {% include 'comments/update_comment.html' %}
    {% elif comment == comment_to_be_deleted %} 
        {% include 'comments/delete_comment.html' %}
    {% elif comment == comment_to_reply_to %}
        {% include 'comments/reply_to_comment.html'%}
    {% endif %}

    <!-- Checking if the user is on continue_thread page -->
    {% if "continue_thread" in request.path %}
        <input type="hidden" comment-data="next-{{ comment.id }}" value="{{ request.path }}" name="next">
    {% endif %}
</div>