<div class="comments" id="comments">
    <div class="comment-delete-modal-div prevent-propagation-for-comment-deletion" id="comment-delete-modal-div"></div>

    <div class="comments-header">
        <h3>{{ blog.comments.count }} Comments</h3>
    </div>

    
    {% if continue_thread_comment %}
        {% with depth=continue_thread_comment.comment_depth|add:5 %}
            {% for comment in continue_thread_comment.get_replies %}
                <div class="comment">
                    {% include "comments/comment_recursive.html" with comment=comment depth=depth %}
                </div>
            {% endfor %}
        {% endwith %}   
    {% else %}
        {% for comment in blog.comments.all %}
            {% if comment.comment_parent is None %}
                {% with depth=comment.comment_depth|add:5 %}
                    <div class="comment">
                        {% include "comments/comment_recursive.html" with comment=comment depth=depth%}
                    </div>
                {% endwith %}
            {% endif %}
        {% empty %}
            {% include "comments/partials/empty_comment_section.html" %}
        {% endfor %}
    {% endif %}

</div>
