<div class="comments" id="comments">
    <div class="comment-delete-modal-div prevent-propagation-for-comment-deletion" id="comment-delete-modal-div"></div>

    
    {% if continue_thread_comment %}
        {% with depth=continue_thread_comment.comment_depth|add:5 %}
            {% for comment in continue_thread_replies %}
                <div class="comment">
                    {% include "comments/comment_recursive.html" with comment=comment depth=depth %}
                </div>
            {% endfor %}
        {% endwith %}   
    {% else %}
        {% for comment in comments %}
            {% if comment.comment_parent is None %}
                {% with depth=comment.comment_depth|add:5 %}
                    <div class="comment">
                        {% include "comments/comment_recursive.html" with comment=comment depth=depth%}
                    </div>
                {% endwith %}
            {% endif %}
        {% empty %}
            {% include "comments/partials/empty_comment_section.html" %}
        {% endfor %}
    {% endif %}

    
    <div class="blog-comments-count-container-oob">
        <!--
            This container is included here so that when users delete or create a new comment, the comment count increases or decreases.
            In one of the previous commits I moved out 'comment-list-header' container out from this template and moved it into
            'blogs_detail.html', so whenever an HTMX request was initiated, the 'BlogDetailView' view returned 'list_comments.html' 
            which included all of the comments but the comment count stayed the same because it was not a part of the 'list_comments.html'
            template, but now with the hx-swap-oob attribute we can load comments after a successful HTMX request and update 
            the comment count header as well.
            I am also setting the 'visibility' property of the 'blog-comments-count-container-oob' container to hidden in 'comments.css', 
            so that when users initially go to the blog detail page there is no second comment count header at the bottom of the comments.
        -->
        <h3 
            id="blog-comments-count" 
            hx-swap-oob="true"
        >
            {{ blog.comments.count }} Comments
        </h3>
    </div>
</div>
