<div class="comments" id="comments">
    <div class="comment-delete-modal-div prevent-propagation-for-comment-deletion" id="comment-delete-modal-div"></div>

    <div class="comments-header">
        <h3>Comments</h3>
    </div>
    {% for comment in blog.comments.all %}
        {% if comment.comment_parent is None %}
            <div class="comment">
                {% include "comments/comment_recursive.html" with comment=comment %}
            </div>
        {% endif %}
    {% empty %}
        <h3>No comments for this blog yet.</h3>
    {% endfor %}
</div>
