<form
    class="comment-form comment-reply-form"
    method="POST"
    hx-post="{% url 'create_reply' comment.id %}"
    hx-target="#comment-list"
    hx-swap="innerHTML"
    {% if not continue_thread_url %}
        hx-push-url="{% url 'blog_detail' blog.id %}?sort=oldest"
    {% endif %}
>
    {% csrf_token %} {{ form.as_p }}

    <div class="comment-reply-btns">

        <!-- For Replying to the comment -->
        <button type="submit" name="reply-submit-btn" class="reply-submit-btn">
            Reply
        </button>
        <!--For canceling the reply on comment -->
        <button 
            type="reset"
            hx-get="{% url 'blog_detail' blog.id %}"
            name="comment-reply-cancel-btn" 
            class="comemnt-reply-cancel-btn"
            value="Canceled reply"
        >
            Cancel
        </button>

        <!-- This input will only be present if users try to reply to comments from continue_thread page -->
        {% if continue_thread_url %}
            <input type="hidden" name="next" value="{{ continue_thread_url }}">
        {% endif %}
    </div>

    {% if request.GET.sort %}
        <input type="hidden" name="sort" value="{{ request.GET.sort }}">
    {% endif %}
</form>