<form 
    class="comment-update-form"
    method="POST"
    hx-post="{% url 'update_comment' comment.id %}"
    hx-target="#comment-list"
    hx-swap="innerHTML"
    hx-trigger="submit"
    {% if not continue_thread_url %}
        hx-push-url="{% url 'blog_detail' blog.id %}"
    {% endif %}
    >

    {% csrf_token %}
    {{ update_page_form.as_p }}

    <div class="comment-update-btns">
        <!-- For updating the comment -->
        <button type="submit" name="comment-update-btn" class="comment-update-btn">
            Submit
        </button>
        <!--For canceling the update on comment -->
        <button 
            type="reset"
            hx-get="{% url 'blog_detail' blog.id %}"
            name="comment-update-cancel-btn" 
            class="comemnt-update-cancel-btn"
            value="Canceled update"
        >
        Cancel
        </button>

        <!-- This input will only be present if users try to update comments from continue_thread page -->
        {% if continue_thread_url %}
            <input type="hidden" name="next" value="{{ continue_thread_url }}">
        {% endif %}
    </div>
</form>