<div class="upvotes-div">
    <form method="POST" class="upvotes-form" id="upvote-form-{{ comment.id }}">
        {% csrf_token %}

        <div>
            <!-- Button for upvote -->
            <button
                aria-label="upvote-button"
                class="upvote-button {% if request.user in comment.comment_upvotes.all %}upvote-active{% endif %}"
                hx-post="{% url 'upvote_comment' blog.id comment.id %}"
                hx-target="#upvote-form-{{ comment.id }}"
                hx-swap="innerHTML"
                name="upvote"
            >
                <svg class="upvote-svg" xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 256 256"><path d="M231.39,123.06A8,8,0,0,1,224,128H184v80a16,16,0,0,1-16,16H88a16,16,0,0,1-16-16V128H32a8,8,0,0,1-5.66-13.66l96-96a8,8,0,0,1,11.32,0l96,96A8,8,0,0,1,231.39,123.06Z"></path></svg>
            </button>
            
            <!-- Button for downvote -->
            <button
                aria-label="downvote-button"
                class="upvote-button {% if request.user in comment.comment_downvotes.all %}downvote-active{% endif %}"
                hx-post="{% url 'downvote_comment' blog.id comment.id %}"
                hx-target="#upvote-form-{{ comment.id }}"
                hx-swap="innerHTML"
                name="downvote"
            >
                <svg class="downvote-svg" xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 256 256"><path d="M229.66,141.66l-96,96a8,8,0,0,1-11.32,0l-96-96A8,8,0,0,1,32,128H72V48A16,16,0,0,1,88,32h80a16,16,0,0,1,16,16v80h40a8,8,0,0,1,5.66,13.66Z"></path></svg>
            </button>
        </div>

        <!-- Number of upvotes -->
        <span id="upvote_count-{{ comment.id }}" class="upvotes-count"
            >{{ comment.comment_upvotes_count }}</span
        >
    </form>
</div>