<div class="comment-suggestions">
    <button
        class="suggestion inspiring"
        value="Inspiring!"
    >Inspiring!</button>
    <button
        class="suggestion suggestion-thanks-for-sharing"
        value="Thanks for sharing."
    >
        Thanks for sharing.
    </button>
    <button class="suggestion suggestion-Awesome!" value="Awesome!">
        Awesome!
    </button>
    <button
        class="suggestion This-is-truly-amazing"
        value="This is truly amazing"
    >
        This is truly amazing.
    </button>
    <button class="suggestion Perfect!" value="Perfect!">Perfect!</button>
    <button class="suggestion Keep-going!" value="Keep going!">
        Keep going!
    </button>
</div>