<div class="empty-comments-outer-div">

    <div class="empty-comments-div">
        <div class="upper-empty-comment">
            <div class="upper-empty-comment-placeholders">
                <div class="upper-placeholder-header">
                    <div class="upper-empty-comment-circle"></div>
                    <div class="upper-placeholder-1"></div>
                </div>
                <div class="upper-placeholder-2"></div>
            </div>
        </div>
        <div class="lower-empty-comment">
        <div class="lower-empty-comment-placeholders">
            <div class="lower-placeholder-header">
                <div class="lower-empty-comment-circle"></div>
                <div class="lower-placeholder-1"></div>
            </div>
            <div class="lower-placeholder-2"></div>
        </div>
    </div>
</div>

    <div class="empty-comment-footer">
        <h3>No comments yet for this blog</h3>
    </div>
</div>